@font-face {
  font-family: soleil;
  src: url(https://use.typekit.net/af/02570c/0000000000000000000148f6/25/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/02570c/0000000000000000000148f6/25/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/02570c/0000000000000000000148f6/25/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: soleil;
  src: url(https://use.typekit.net/af/e4e6c7/0000000000000000000148f2/25/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/e4e6c7/0000000000000000000148f2/25/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("woff"),
    url(https://use.typekit.net/af/e4e6c7/0000000000000000000148f2/25/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: soleil;
  src: url(https://use.typekit.net/af/fed3bf/0000000000000000000148f8/25/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/fed3bf/0000000000000000000148f8/25/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3)
      format("woff"),
    url(https://use.typekit.net/af/fed3bf/0000000000000000000148f8/25/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3)
      format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: soleil;
  src: url(https://use.typekit.net/af/9abe7c/0000000000000000000148ee/25/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/9abe7c/0000000000000000000148ee/25/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/9abe7c/0000000000000000000148ee/25/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: soleil;
  src: url(https://use.typekit.net/af/31d298/0000000000000000000148f1/25/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/31d298/0000000000000000000148f1/25/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/31d298/0000000000000000000148f1/25/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: soleil;
  src: url(https://use.typekit.net/af/bb3805/0000000000000000000148f4/25/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/bb3805/0000000000000000000148f4/25/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3)
      format("woff"),
    url(https://use.typekit.net/af/bb3805/0000000000000000000148f4/25/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3)
      format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: source-code-pro;
  src: url(https://use.typekit.net/af/55ca27/000000000000000000013299/25/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/55ca27/000000000000000000013299/25/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/55ca27/000000000000000000013299/25/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: source-code-pro;
  src: url(https://use.typekit.net/af/6367b0/000000000000000000013297/25/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/6367b0/000000000000000000013297/25/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/6367b0/000000000000000000013297/25/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
}

@-webkit-keyframes helloAnimation {
  0% {
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@-moz-keyframes helloAnimation {
  0% {
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@-o-keyframes helloAnimation {
  0% {
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@keyframes helloAnimation {
  0% {
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@-webkit-keyframes rotatingLamp {
  0% {
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  50% {
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -o-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  100% {
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
}
@-moz-keyframes rotatingLamp {
  0% {
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  50% {
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -o-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  100% {
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
}
@-ms-keyframes rotatingLamp {
  0% {
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  50% {
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -o-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  100% {
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
}
@-o-keyframes rotatingLamp {
  0% {
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  50% {
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -o-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  100% {
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
}
@keyframes rotatingLamp {
  0% {
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
  50% {
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -o-transform: rotate(22deg);
    transform: rotate(22deg);
  }
  100% {
    -webkit-transform: rotate(-22deg);
    -moz-transform: rotate(-22deg);
    -o-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }
}
@keyframes glow {
  0% {
    background-position: 52%;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  50% {
    background-position: 47%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    background-position: 52%;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: #2b2b2b;
  scroll-behavior: smooth;
}

*,
:after,
:before {
  box-sizing: inherit;
  font-family: soleil;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 600;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: soleil, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: #464d6c;
  line-height: 150%;
  font-size: 17px;
  font-weight: 100;
}

.lamp img {
  -webkit-animation: rotatingLamp infinite 10s
    cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -moz-animation: rotatingLamp infinite 10s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation: rotatingLamp infinite 10s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-transform: rotate(-22deg);
  -moz-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
  transform: rotate(-22deg);
  width: 60px;
}

#hellofy {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
  display: inline-block;
}
#hellofy:not(.fade-out) {
  -webkit-animation: helloAnimation 1 0.3s ease-in;
  -moz-animation: helloAnimation 1 0.3s ease-in;
  animation: helloAnimation 1 0.3s ease-in;
}
#hellofy.fade-out {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0px, -10px);
  -moz-transform: translate(0px, -10px);
  -o-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

#header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 20vh 0;
  position: relative;
  text-align: center;
  width: 100vw;
}

/* #header:after {
  bottom: 16px;
  color: #aaa;
  content: "👇 there's more! ✍️ 💁‍♂️ 🚀 📮";
  font-size: 14px;
  letter-spacing: -1px;
  position: absolute
} */

#header.has-scrolled:after {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.5s;
}

#header-inside {
  padding: 0 16px;
  position: relative;
  z-index: 1;
}

#title {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 0;
  color: #464d6c;
  margin-top: 0;
  font-weight: 600;
}

.subheading {
  font-size: 25px;
  color: #596be3;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: -10px;
}

#hellofy {
  font-weight: 600;
}

#web-description {
  font-size: 18px;
  font-weight: 400;
  color: #464d6c;
  font-weight: 100;
  max-width: 900px;
  margin-bottom: 0px;
  margin: auto;
}

#web-description strong {
  color: inherit;
  font-weight: 500;
}

#web-description a {
  color: #09f;
  transition: all 0.3s ease;
}

#web-description a:hover {
  text-decoration: underline;
}

#logo {
  background-size: cover;
  background-image: url("./assets/logo.jpg");
  border-radius: 50%;
  display: inline-block;
  height: 128px;
  margin: 0 auto 16px;
  width: 128px;
}

#links {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 8px;
}

#links a {
  transition: all 100ms ease-in;
  transform: scale(1);
}

#links a:hover {
  transform: scale(1.1);
}

#links a:hover svg {
  fill: #464d6c;
  transform: scale(1.1);
}

#links svg {
  fill: #464d6c;
  height: 36px;
  margin: 0 1%;
  transition: all 100ms ease-in;
  width: 36px;
}

/* .bigg {
  width: 43px !important;
  height: 43px !important;
} */

button {
  display: inline-block;
  height: 36px;
  padding: 0 25px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: all 0.15s ease-in 0s;
  -moz-transition: all 0.15s ease-in 0s;
  transition: all 0.15s ease-in 0s;
  border: 1px solid #464d6c;
  color: #464d6c;
  background: white;
  font-weight: 800;
  outline: none;
}
button:hover {
  background: #464d6c;
  color: white;
}

.intro-btn {
  margin-top: 15px;
  background: #464d6c;
  color: white;
  transform: scale(1);
  margin-top: 15px;
}
.intro-btn:hover {
  transition: all 100ms ease-in;
  transform: scale(1.05);
}

.particles-js-canvas-el {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.44);
  font-size: 12px;
  font-weight: 100;
  line-height: 1.1;
  padding: 50px 0;
}

h2 {
  color: #2b2b2b;
  font-size: 48px;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: -2px;
  margin: 75px 0 8px;
  padding: 15px 0;
}

.block {
  display: flex;
}

.block-content {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 16px;
  width: 100%;
}

.block a {
  color: inherit;
  font-weight: 500;
}

.block a:hover {
  text-decoration: underline;
}

.fade-font {
  font-weight: 500;
  color: #596be3;
}

.experiencia {
  display: block;
  margin-bottom: 25px;
  line-height: 150%;
}

h2 {
  color: #464d6c;
}
